[Desktop Entry]
Name=Lutris
Comment=open source gaming platform
Categories=Game;
Keywords=gaming;wine;emulator;
Exec=lutris %U
Icon=lutris
Terminal=false
Type=Application
MimeType=x-scheme-handler/lutris;
