[Desktop Entry]
Name=Lutris
Comment=video game preservation platform
Categories=Game;
Keywords=gaming;wine;emulator;
Exec=lutris %U
Icon=lutris
Terminal=false
Type=Application
MimeType=x-scheme-handler/lutris;
X-GNOME-UsesNotifications=true
