[Desktop Entry]
Name=Lutris
StartupWMClass=Lutris
Comment=Video Game Preservation Platform
Categories=Game;
Keywords=gaming;wine;emulator;
Exec=lutris %U
Icon=lutris
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/lutris;
X-GNOME-UsesNotifications=true
