# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 100

[*.rst]
tab_width = 4

[*.yml]
tab_width = 2

[Makefile]
indent_style = tab
indent_size = 4
