[flake8]
ignore =
    # <code>,   # description
    # do not use bare except' (done by pylint)
    E722,
    # line break before binary operator
    W503,
    # module level import not at top of file (gtk stuff)
    E402,
max-line-length = 120
exclude = .venv,venv,.env,env,lutris/game.py
max-complexity = 15
accept-encodings = utf-8
