nbproject
build
.project
.pydevproject
.settings
.ropeproject
.idea
tags
*.pyc
*.pyo
PYSMELLTAGS
lutris.e4p
.coverage
pga.db
tests/coverage/*
/dist
/lutris.egg-info

# meson builddirs
builddir

# i18n files
po/lutris.pot
transl-builddir
