/share/lutris/ui/dialog-lutris-login.ui~
/share/lutris/ui/dialog-pga-sources.ui~
/share/lutris/ui/dialog-uninstall-game.ui~
/share/lutris/ui/about-dialog.ui~
/share/lutris/ui/lutris-window.ui~
nbproject
build
.project
.pydevproject
.settings
.ropeproject
tags
.ropeproject
*.pyc
*.pyo
PYSMELLTAGS
lutris.e4p
.coverage
pga.db
tests/coverage/*
/dist
/lutris.egg-info
