nbproject
build
.project
.pydevproject
.settings
.ropeproject
.idea
tags
*.pyc
*.pyo
PYSMELLTAGS
lutris.e4p
.coverage
pga.db
tests/coverage/*
/dist
/lutris.egg-info

#dpkg build files
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/licence-test
debian/lutris.postinst.debhelper
debian/lutris.prerm.debhelper
debian/lutris.substvars
debian/lutris/

