recursive-include lutris *.py
recursive-include data/media *
recursive-include data/ui *
include bin/lutris
include LICENSE
include AUTHORS
include MANIFEST.in
include README
graft debian
prune tests
