Source: lutris
Section: games
Priority: optional
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-xdg
Maintainer: Mathieu Comandon <strider@strycore.com>
Standards-Version: 3.9.4
Vcs-Git: https://github.com/lutris/lutris
Homepage: http://lutris.net

Package: lutris
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-yaml,
Description: Install and play any video game easily
 Lutris is a gaming platform for GNU/Linux. Its goal is to make
 gaming on Linux as easy as possible by taking care of installing
 and setting up the game for the user. The only thing you have to
 do is play the game. It aims to support every game that is playable
 on Linux.
