Source: lutris
Section: games
Priority: optional
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 6), python,
 python-support (>= 0.6.4), python-distutils-extra (>= 2.10)
Maintainer: Mathieu Comandon <strycore@gmail.com>
Standards-Version: 3.8.2
XS-Python-Version: current

Package: lutris
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-apport,
 python-gobject, python-apt, python-gtk2, python-yaml
Description: Install and play any video game easily
 Lutris is a gaming platform for GNU/Linux. It's goal is to make 
 gaming on Linux as easy as possible by taking care of installing
 and setting up the game for the user. The only thing you have to 
 do is play the game. It aims to support every game that is playable
 on Linux. 
