.lutris-logview > text {
  color: rgb(255, 199, 116);
  background-color: rgb(47, 47, 47);
}

.lutris-logview > text > selection {
  color: rgb(47, 47, 47);
  background-color: rgb(255, 199, 116);
}

.sidebar-header button {
  padding: 0;
}
