.lutris-logview > text {
  color: rgb(255, 199, 116);
  background-color: rgb(47, 47, 47);
}

.lutris-logview > text > selection {
  color: rgb(47, 47, 47);
  background-color: rgb(255, 199, 116);
}

.sidebar-row {
  padding: 6px 12px;
}

.sidebar-header {
  padding: 6px 12px;
}

.sidebar-header label {
  padding: 4px 0;
}

.sidebar-header button {
  padding: 0;
  margin: 0;
  border: 0;
}